@model IEnumerable<CourseEnrolledViewModel>

<h1>Your enrolled courses:</h1>
<br />
@foreach (var course in Model)
{
    @await Html.PartialAsync("_StatusPartial", course)
    <h1>Started: @course.DateTimeRange.StartTime</h1>
    @if(course.DateTimeRange.EndTime != null)
    {
        <h1>Ended: @course.DateTimeRange.EndTime</h1>
    }else
    {
        <h1>Still in progress</h1>
    }
    @if(User.Identity != null && User.Identity.IsAuthenticated)
    {

    }
    <a asp-controller="Student" asp-action="Marks" asp-route-courseId="@course.CourseId">View Marks</a>
}