@model IEnumerable<CourseViewModel>

@foreach (var course in Model)
{
                //jako tabela
    <h1>@course.Name</h1>
    <p>@course.Description</p>
    @if (course.IsActive)
    {
        <h1>active:yes </h1>
    }
    else
    {
        <h1>active: no </h1>
    }

    @if (User.IsInRole("Student"))
    {
        @if (course.IsActive && course.isEnrolled != null && course.isEnrolled == false)
        {
            <a asp-controller="CourseEnrollment" asp-action="Enroll" asp-route-courseId="@course.CourseId">Enroll</a>
        }
    }
}