@model IReadOnlyCollection<CourseViewModel>

@foreach (var course in Model)
{
    //jako tabela
    <h1>@course.Name</h1>
    <p>@course.Description</p>
    <p>@course.IsActive</p>
    if (User.IsInRole("Student"))
    {
        //check if user already enrolled
        <a asp-controller="CourseEnrollment" asp-action="Enroll" asp-route-courseId="@course.CourseId">Enroll</a>
    }
}