@model ProfileViewModel

<h1>@Model.FirstName </h1>
<h1>@Model.LastName </h1>
<h1>@Model.BirthDate </h1>
<h1>@Model.Email </h1>
<a asp-controller="CourseEnrollment" asp-action="List">Your Courses</a>
<a asp-controller="Account" asp-action="ChangePassword">Change Password</a>