@model BaseCourseViewModel

@if (Model.IsActive)
{
    <div class="status">
        <img src="~/images/positive_tick.jpg" class="small-img" alt="yes" />
    </div>
}
else
{
    <div class="status">
        <img src="~/images/negative_tick.jpg" class="small-img" alt="no" />
    </div>
}